<html>
<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css">
</head>
<body>  
  <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #53565a;">
    <a class="navbar-brand" href="/pun/sys/dashboard/">UVA Open OnDemand</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </nav>
  <div class="container">
    <h1>Check scratch for purge</h1>
    <form action="/process_form" method="post">
      <div class="form-group">
        <label>Would you like your output written to a file?</label><br>
        <input type="radio" id="yes" name="writeToFile" value="yes">
        <label for="yes">Yes</label><br>
        <input type="radio" id="no" name="writeToFile" value="no" checked>
        <label for="no">No</label>
      </div>
      <div class="form-group">
        <label>If yes, where would you like the file written?</label><br>
        <input type="radio" id="home" name="fileLocation" value="home">
        <label for="home">Home</label><br>
        <input type="radio" id="scratch" name="fileLocation" value="scratch">
        <label for="scratch">Scratch</label>
      </div>
      <button type="submit" class="btn btn-primary">Run the command</button>
    </form>
    <% if @display_table %>
    <table class="table table-bordered">
      <% @processes.each do |line| %>
      <tr>
        <td><%= line %></td>
      </tr>
      <% end %>
    </table>
    <% end %>
  </div>
</body>
</html>