<html>
<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css">
</head>
<body>  
  <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #53565a;">
    <a class="navbar-brand" href="/pun/sys/dashboard/">UVA Open OnDemand</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </nav>
  <div class="container">
    <br>
    <h1>Check <span style="font-family: monospace; background-color: #f2f2f2;">/scratch</span> for purge</h1><br>
    <div class="row justify-content-center">
      <div class="col-auto">
        <button id="toggleOutputBtn" class="btn btn-primary">Show Output</button>
      </div>
      <div class="col-auto">
        <h3> Or </h3>
      </div>
      <div class="col-auto">
        <button id="saveToScratch" class="btn btn-primary">Save Output to /scratch</button>
      </div>
      <div class="col-auto">
        <h3> Or </h3>
      </div>
      <div class="col-auto">
        <button id="saveToHome" class="btn btn-primary">Save Output to /home</button>
      </div>
    </div>


    <div id="outputSection" style="display: none;">
      <% if error %>
        <p>Error: <%= error %></p>
      <% else %>
        <p>These files will be purged:</p>
        <ul>
          <% processes.each do |process| %>
            <li><%= process %></li>
          <% end %>
        </ul>
      <% end %>
    </div>
  </div>
  <script>
    document.addEventListener('DOMContentLoaded', (event) => {
      document.getElementById('toggleOutputBtn').addEventListener('click', function() {
        var outputSection = document.getElementById('outputSection');
        if (outputSection) { // Check if the element exists
          if (outputSection.style.display === 'none') {
            outputSection.style.display = 'block';
            this.textContent = 'Hide Output';
          } else {
            outputSection.style.display = 'none';
            this.textContent = 'Show Output';
          }
        } else {
          console.error('Element with ID "outputSection" not found.');
        }
      });
    });
    document.getElementById('saveToScratch').addEventListener('click', function() {
      fetch('/save_to_scratch', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify({ content: document.getElementById('outputSection').innerText }),
      })
      .then(response => response.text())
      .then(data => console.log(data))
      .catch(error => console.error('Error:', error));
    });
    document.getElementById('saveToHome').addEventListener('click', function() {
      fetch('/save_to_home', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify({ content: document.getElementById('outputSection').innerText }),
      })
      .then(response => response.text())
      .then(data => console.log(data))
      .catch(error => console.error('Error:', error));
    });
  </script>
</body>
</html>