<!DOCTYPE html>
<html>
<head>
  <title>Disk Usage - UVA OpenOnDemand</title>
  <link rel="shortcut icon" type="image/x-icon" href="/public/favicon.ico" />

  <script src="/pun/sys/dashboard/assets/application-236fae757cad255084c5224d2905772a67d2181ab2a8e2ae1bb3a8393450b944.js" nonce="4EXpziO450cTWofblGS8WQ=="></script>
  <link rel="preload stylesheet" media="all" href="/pun/sys/dashboard/assets/application-61a2626def60b5b92da2082b21be71733d493ea55ab120d99dc3030dcca4f201.css" nonce="4EXpziO450cTWofblGS8WQ==" as="style" type="text/css" />
  <style nonce="4EXpziO450cTWofblGS8WQ==">
    .navbar-dark {
      background-color: #53565a;
    }
    .navbar-light {
      background-color: #53565a;
    }
    .navbar-dark ul.navbar-nav>li.nav-item>a:focus,
    .navbar-dark ul.navbar-nav>li.nav-item.show>a {
      background-color: #fff;
      border-radius: 0.25em;
    }
    .navbar-light ul.navbar-nav>li.nav-item>a:focus,
    .navbar-light ul.navbar-nav>li.nav-item.show>a {
      background-color: #fff;
      border-radius: 0.25em;
    }
    body {
      display: flex;
      flex-direction: column;
      min-height: 100vh;
    }
    .content {
      flex: 1;
    }
    .footer {
      background-color: #f8f9fa;
      padding: 1rem;
      text-align: center;
    }
  </style>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css">
  <script src="/pun/sys/dashboard/assets/dashboard-42b56f7f42474effe1e8f2d4fa0300bf463bed5d4eec7db1c70badde9070c077.js" nonce="4EXpziO450cTWofblGS8WQ=="></script>
  <script src="/pun/sys/dashboard/assets/pinned_apps-95c603b0cc05dad1a3e420b7ced9d8e2a926cd68ea8c86eb31bbb3d1b685ada1.js" nonce="4EXpziO450cTWofblGS8WQ=="></script>

  <meta name="csrf-param" content="authenticity_token" />
  <meta name="csrf-token" content="Ww-IlCp9x1ZqDy-0PTHx0X6l5Z1WVZMdR4RHeT_nWSxT3kIinz-1FLW5UmSck_yyHotCBoWfYcqD5h1lhDNWXw" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="profile" content="">
  <!-- configuration options exposed to javascript -->
  <div hidden id="ood_config" data-max-file-size="10737420000" data-transfers-path="/pun/sys/dashboard/transfers.json"
    data-jobs-info-path="/pun/sys/dashboard/jobs/info" data-uppy-locale="{}" data-bc-dynamic-js="true"></div>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css">
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #53565a;">
    <a class="navbar-brand" href="/pun/sys/dashboard/">UVA Open OnDemand</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </nav>
  <div class="container content">
    <br>
    <% if @message %>
      <div class="alert alert-success alert-dismissible fade show" role="alert">
        <%= @message %>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    <% end %>
    <h1>Check Scratch For Purge</h1>
    <p>This tool allows you to view which files will be purged from <code>/scratch</code>. You can also download the list of files locally or save it to your home or scratch directories.</p>
    <div class="row justify-content-center">
      <div class="buttons">
        <button class="btn btn-primary m-2" onclick="toggleOutput()">Show Files to be Purged</button>
        <a class="btn btn-secondary m-2" id="downloadHome" href="#">Save to Home Directory</a>
        <a class="btn btn-secondary m-2" id="downloadScratch" href="#">Save to Scratch Directory</a>
        <button class="btn btn-secondary m-2" onclick="downloadLocally()">Download Locally</button>
      </div>
    </div>
    <div id="output" class="mt-4" style="display: none;">
      <h2>Files to be Purged</h2>
      <p>The following <%= @output.size %> files will be purged:</p>
      <ul>
        <div id="fileList">
          <% @output.each do |line| %>
          <li><%= line %></li>
          <% end %>
        </div>
      </ul>
    </div>
  </div>
  <footer class="footer mt-4">
    <h2>Scratch Purging Policy</h2>
    <p>For more information on the policy for removing files in scratch after 90 days, please visit the <a href="https://www.rc.virginia.edu/2024/07/reinstatement-of-file-purging-of-personal-/scratch-files-on-afton-and-rivanna/" target="_blank">File Purging Policy</a> page.</p>
  </footer>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script>
    document.addEventListener('DOMContentLoaded', (event) => {
      let currentUrl = window.location.origin + window.location.pathname;

      if (currentUrl.endsWith('/downloadToScratch')) {
        currentUrl = currentUrl.replace('/downloadToScratch', '');
      } else if (currentUrl.endsWith('/downloadToHome')) {
        currentUrl = currentUrl.replace('/downloadToHome', '');
      }
      // Ensure the URL ends with a slash
      if (!currentUrl.endsWith('/')) {
        currentUrl += '/';
      }

      // Encode the URL
      const downloadHomeUrl = encodeURI(`${currentUrl}downloadToHome`);
      const downloadScratchUrl = encodeURI(`${currentUrl}downloadToScratch`);

      document.getElementById('downloadHome').href = `${currentUrl}downloadToHome`;
      document.getElementById('downloadScratch').href = `${currentUrl}downloadToScratch`;
    });

    function toggleOutput() {
      const outputSection = document.getElementById('output');
      if (outputSection.style.display === 'none' || outputSection.style.display === '') {
        outputSection.style.display = 'block';
      } else {
        outputSection.style.display = 'none';
      }
    }

    function downloadLocally() {
      // get files and format them for download
      const outputSection = document.getElementById('fileList');
      const textContent = outputSection.innerText
        .split('\n')
        .map(line => line.trim())
        .filter(line => line.length > 0)
        .join('\n');
      const blob = new Blob([textContent], { type: 'text/plain' });
      const url = URL.createObjectURL(blob);
      const a = document.createElement('a');
      a.href = url;
      a.download = 'scratchFilesToBePurged.txt';
      document.body.appendChild(a);
      a.click();
      document.body.removeChild(a);
      URL.revokeObjectURL(url);
    }
  </script>
</body>
</html>
